
code {
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  svg#progresss {
    position: fixed;
    top: 20px;
    left: 20px;
    transform: rotate(-90deg);
  }
  
  circle.bg {
    stroke-dashoffset: 0;
    stroke-width: 15%;
  }
  
  .bg {
    /* stroke: #000; */
    opacity: 0.3;
  }
  
  #progresss .indicatorr {
    stroke: #00F; /* Change stroke color */
    fill: none;
  }
  
  
  ul {
    display: flex;
    list-style: none;
    height: 300px;
    overflow-x: scroll;
    padding: 20px 0;
    flex: 0 0 600px;
    margin: 0 auto;
  }
  
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb {
    background: black;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: #B1BDC5;
  }
  
  li {
    flex: 0 0 200px;
    background: #EEE;
    margin: 0 20px 0 0;
  }
  
  li:last-of-type {
    margin: 0;
  }
  